/* ffad_matro字体 */
@font-face {
    font-family: 'ffad_matroregular';
    src: url('../fonts/ffad_matro/ffad_matro-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/ffad_matro/ffad_matro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ffad_matro/ffad_matro-webfont.woff2') format('woff2'),
         url('../fonts/ffad_matro/ffad_matro-webfont.woff') format('woff'),/* Modern Browsers */
         url('../fonts/ffad_matro/ffad_matro-webfont.ttf') format('truetype'),/* Safari, Android, iOS */
         url('../fonts/ffad_matro/ffad_matro-webfont.svg#ffad_matroregular') format('svg');/* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

/*IosevkaWEB字体引入*/
@font-face {
	font-family: IosevkaWEB;
	font-weight: 100;
	src: url('../fonts/iosevka/iosevka-thin.woff2') format('woff2'), url('../fonts/iosevka/iosevka-thin.woff') format('woff'), url('../fonts/iosevka/iosevka-thin.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-weight: 100;
	font-style: italic;
	src: url('../fonts/iosevka/iosevka-thinitalic.woff2') format('woff2'), url('../fonts/iosevka/iosevka-thinitalic.woff') format('woff'), url('../fonts/iosevka/iosevka-thinitalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-weight: 100;
	font-style: oblique;
	src: url('../fonts/iosevka/iosevka-thinoblique.woff2') format('woff2'), url('../fonts/iosevka/iosevka-thinoblique.woff') format('woff'), url('../fonts/iosevka/iosevka-thinoblique.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-weight: 200;
	src: url('../fonts/iosevka/iosevka-extralight.woff2') format('woff2'), url('../fonts/iosevka/iosevka-extralight.woff') format('woff'), url('../fonts/iosevka/iosevka-extralight.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-weight: 200;
	font-style: italic;
	src: url('../fonts/iosevka/iosevka-extralightitalic.woff2') format('woff2'), url('../fonts/iosevka/iosevka-extralightitalic.woff') format('woff'), url('../fonts/iosevka/iosevka-extralightitalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-weight: 200;
	font-style: oblique;
	src: url('../fonts/iosevka/iosevka-extralightoblique.woff2') format('woff2'), url('../fonts/iosevka/iosevka-extralightoblique.woff') format('woff'), url('../fonts/iosevka/iosevka-extralightoblique.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-weight: 300;
	src: url('../fonts/iosevka/iosevka-light.woff2') format('woff2'), url('../fonts/iosevka/iosevka-light.woff') format('woff'), url('../fonts/iosevka/iosevka-light.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-weight: 300;
	font-style: italic;
	src: url('../fonts/iosevka/iosevka-lightitalic.woff2') format('woff2'), url('../fonts/iosevka/iosevka-lightitalic.woff') format('woff'), url('../fonts/iosevka/iosevka-lightitalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-weight: 300;
	font-style: oblique;
	src: url('../fonts/iosevka/iosevka-lightoblique.woff2') format('woff2'), url('../fonts/iosevka/iosevka-lightoblique.woff') format('woff'), url('../fonts/iosevka/iosevka-lightoblique.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	src: url('../fonts/iosevka/iosevka-regular.woff2') format('woff2'), url('../fonts/iosevka/iosevka-regular.woff') format('woff'), url('../fonts/iosevka/iosevka-regular.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-style: italic;
	src: url('../fonts/iosevka/iosevka-italic.woff2') format('woff2'), url('../fonts/iosevka/iosevka-italic.woff') format('woff'), url('../fonts/iosevka/iosevka-italic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-style: oblique;
	src: url('../fonts/iosevka/iosevka-oblique.woff2') format('woff2'), url('../fonts/iosevka/iosevka-oblique.woff') format('woff'), url('../fonts/iosevka/iosevka-oblique.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-weight: 500;
	src: url('../fonts/iosevka/iosevka-medium.woff2') format('woff2'), url('../fonts/iosevka/iosevka-medium.woff') format('woff'), url('../fonts/iosevka/iosevka-medium.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-style: italic;
	font-weight: 500;
	src: url('../fonts/iosevka/iosevka-mediumitalic.woff2') format('woff2'), url('../fonts/iosevka/iosevka-mediumitalic.woff') format('woff'), url('../fonts/iosevka/iosevka-mediumitalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-style: oblique;
	font-weight: 500;
	src: url('../fonts/iosevka/iosevka-mediumoblique.woff2') format('woff2'), url('../fonts/iosevka/iosevka-mediumoblique.woff') format('woff'), url('../fonts/iosevka/iosevka-mediumoblique.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-weight: 700;
	src: url('../fonts/iosevka/iosevka-bold.woff2') format('woff2'), url('../fonts/iosevka/iosevka-bold.woff') format('woff'), url('../fonts/iosevka/iosevka-bold.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-style: italic;
	font-weight: 700;
	src: url('../fonts/iosevka/iosevka-bolditalic.woff2') format('woff2'), url('../fonts/iosevka/iosevka-bolditalic.woff') format('woff'), url('../fonts/iosevka/iosevka-bolditalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-style: oblique;
	font-weight: 700;
	src: url('../fonts/iosevka/iosevka-boldoblique.woff2') format('woff2'), url('../fonts/iosevka/iosevka-boldoblique.woff') format('woff'), url('../fonts/iosevka/iosevka-boldoblique.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-weight: 900;
	src: url('../fonts/iosevka/iosevka-heavy.woff2') format('woff2'), url('../fonts/iosevka/iosevka-heavy.woff') format('woff'), url('../fonts/iosevka/iosevka-heavy.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-style: italic;
	font-weight: 900;
	src: url('../fonts/iosevka/iosevka-heavyitalic.woff2') format('woff2'), url('../fonts/iosevka/iosevka-heavyitalic.woff') format('woff'), url('../fonts/iosevka/iosevka-heavyitalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-style: oblique;
	font-weight: 900;
	src: url('../fonts/iosevka/iosevka-heavyoblique.woff2') format('woff2'), url('../fonts/iosevka/iosevka-heavyoblique.woff') format('woff'), url('../fonts/iosevka/iosevka-heavyoblique.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 100;
	src: url('../fonts/iosevka/iosevka-slab-thin.woff2') format('woff2'), url('../fonts/iosevka/iosevka-slab-thin.woff') format('woff'), url('../fonts/iosevka/iosevka-slab-thin.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 100;
	font-style: italic;
	src: url('../fonts/iosevka/iosevka-slab-thinitalic.woff2') format('woff2'), url('../fonts/iosevka/iosevka-slab-thinitalic.woff') format('woff'), url('../fonts/iosevka/iosevka-slab-thinitalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 100;
	font-style: oblique;
	src: url('../fonts/iosevka/iosevka-slab-thinoblique.woff2') format('woff2'), url('../fonts/iosevka/iosevka-slab-thinoblique.woff') format('woff'), url('../fonts/iosevka/iosevka-slab-thinoblique.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 200;
	src: url('../fonts/iosevka/iosevka-slab-extralight.woff2') format('woff2'), url('../fonts/iosevka/iosevka-slab-extralight.woff') format('woff'), url('../fonts/iosevka/iosevka-slab-extralight.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 200;
	font-style: italic;
	src: url('../fonts/iosevka/iosevka-slab-extralightitalic.woff2') format('woff2'), url('../fonts/iosevka/iosevka-slab-extralightitalic.woff') format('woff'), url('../fonts/iosevka/iosevka-slab-extralightitalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 200;
	font-style: oblique;
	src: url('../fonts/iosevka/iosevka-slab-extralightoblique.woff2') format('woff2'), url('../fonts/iosevka/iosevka-slab-extralightoblique.woff') format('woff'), url('../fonts/iosevka/iosevka-slab-extralightoblique.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 300;
	src: url('../fonts/iosevka/iosevka-slab-light.woff2') format('woff2'), url('../fonts/iosevka/iosevka-slab-light.woff') format('woff'), url('../fonts/iosevka/iosevka-slab-light.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 300;
	font-style: italic;
	src: url('../fonts/iosevka/iosevka-slab-lightitalic.woff2') format('woff2'), url('../fonts/iosevka/iosevka-slab-lightitalic.woff') format('woff'), url('../fonts/iosevka/iosevka-slab-lightitalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 300;
	font-style: oblique;
	src: url('../fonts/iosevka/iosevka-slab-lightoblique.woff2') format('woff2'), url('../fonts/iosevka/iosevka-slab-lightoblique.woff') format('woff'), url('../fonts/iosevka/iosevka-slab-lightoblique.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	src: url('../fonts/iosevka/iosevka-slab-regular.woff2') format('woff2'), url('../fonts/iosevka/iosevka-slab-regular.woff') format('woff'), url('../fonts/iosevka/iosevka-slab-regular.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-style: italic;
	src: url('../fonts/iosevka/iosevka-slab-italic.woff2') format('woff2'), url('../fonts/iosevka/iosevka-slab-italic.woff') format('woff'), url('../fonts/iosevka/iosevka-slab-italic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-style: oblique;
	src: url('../fonts/iosevka/iosevka-slab-oblique.woff2') format('woff2'), url('../fonts/iosevka/iosevka-slab-oblique.woff') format('woff'), url('../fonts/iosevka/iosevka-slab-oblique.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 500;
	src: url('../fonts/iosevka/iosevka-slab-medium.woff2') format('woff2'), url('../fonts/iosevka/iosevka-slab-medium.woff') format('woff'), url('../fonts/iosevka/iosevka-slab-medium.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-style: italic;
	font-weight: 500;
	src: url('../fonts/iosevka/iosevka-slab-mediumitalic.woff2') format('woff2'), url('../fonts/iosevka/iosevka-slab-mediumitalic.woff') format('woff'), url('../fonts/iosevka/iosevka-slab-mediumitalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-style: oblique;
	font-weight: 500;
	src: url('../fonts/iosevka/iosevka-slab-mediumoblique.woff2') format('woff2'), url('../fonts/iosevka/iosevka-slab-mediumoblique.woff') format('woff'), url('../fonts/iosevka/iosevka-slab-mediumoblique.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 700;
	src: url('../fonts/iosevka/iosevka-slab-bold.woff2') format('woff2'), url('../fonts/iosevka/iosevka-slab-bold.woff') format('woff'), url('../fonts/iosevka/iosevka-slab-bold.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-style: italic;
	font-weight: 700;
	src: url('../fonts/iosevka/iosevka-slab-bolditalic.woff2') format('woff2'), url('../fonts/iosevka/iosevka-slab-bolditalic.woff') format('woff'), url('../fonts/iosevka/iosevka-slab-bolditalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-style: oblique;
	font-weight: 700;
	src: url('../fonts/iosevka/iosevka-slab-boldoblique.woff2') format('woff2'), url('../fonts/iosevka/iosevka-slab-boldoblique.woff') format('woff'), url('../fonts/iosevka/iosevka-slab-boldoblique.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 900;
	src: url('../fonts/iosevka/iosevka-slab-heavy.woff2') format('woff2'), url('../fonts/iosevka/iosevka-slab-heavy.woff') format('woff'), url('../fonts/iosevka/iosevka-slab-heavy.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-style: italic;
	font-weight: 900;
	src: url('../fonts/iosevka/iosevka-slab-heavyitalic.woff2') format('woff2'), url('../fonts/iosevka/iosevka-slab-heavyitalic.woff') format('woff'), url('../fonts/iosevka/iosevka-slab-heavyitalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-style: oblique;
	font-weight: 900;
	src: url('../fonts/iosevka/iosevka-slab-heavyoblique.woff2') format('woff2'), url('../fonts/iosevka/iosevka-slab-heavyoblique.woff') format('woff'), url('../fonts/iosevka/iosevka-slab-heavyoblique.ttf') format('truetype');
}

.thin       { font-weight: 100 }
.extralight { font-weight: 200 }
.light      { font-weight: 300 }
.medium     { font-weight: 500 }
.bold       { font-weight: 700 }
.extrabold  { font-weight: 800 }
.heavy      { font-weight: 900 }
.italic     { font-style: italic }
.oblique    { font-style: oblique }
/*.slab { font-family: "IosevkaSlabWEB", monospace; }*/